# Introduction

## PISA and OCED 

**The Programme for International Student Assessment (PISA)** is a worldwide study by the **Organisation for Economic Co-operation and Development (OECD)** in member and non-member nations intended to evaluate educational systems by measuring 15-year-old school pupils' scholastic performance on mathematics, science, and reading.It was first performed in **2000** and then repeated every three years. Its aim is to provide comparable data with a view to enabling countries to improve their education policies and outcomes. It measures problem solving and cognition.

In [1]:
# importing pandas for cleaning the dataset
import pandas as pd

In [2]:
# reading the csv with encoding latin-1, because of utf-8 error
# and also reading the dtypes as str
pisa = pd.read_csv('pisa2012.csv',
                       encoding = 'latin-1')

C:\Users\Sai\Anaconda3\envs\DataSc\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**The following attributes/questions will be used to draw conclusions about the quality of eduction and infrastructure used to deliver the best for students**

In [3]:
# columns to select for visualisation
cols_to_use = ['CNT', # National Centre 6-digit Code,
               'ST03Q01', # Birth - Month
               'ST03Q02', # Birth -Year
               'ST04Q01', # Gender
               'ST08Q01', # Truancy - Late for School
               'ST09Q01', # Truancy - Skip whole school day
               'ST115Q01', # Truancy - Skip classes within school day
               'ST11Q01', # At Home - Mother
               'ST11Q02', # At Home - Father
               'ST11Q03', # At Home - Brothers
               'ST11Q04', # At Home - Sisters
               'ST11Q05', # At Home - Grandparents
               'ST11Q06', # At Home - Others
               'ST13Q01', # Mother<Highest Schooling>
               'ST15Q01', # Mother Current Job Status
               'ST17Q01', # Father<Highest Schooling>
               'ST19Q01', # Father Current Job Status
               'ST86Q01', # Student-Teacher Relation - Get Along with Teachers
               'ST86Q02', # Student-Teacher Relation - Teachers Are Interested
               'ST86Q03', # Student-Teacher Relation - Teachers Listen to Students
               'ST86Q04', # Student-Teacher Relation - Teachers Help Students
               'ST86Q05', # Student-Teacher Relation - Teachers Treat Students Fair
               'ST26Q01', # Possessions - desk
               'ST26Q02', # Possessions - own room
               'ST26Q03', # Possessions - study place
               'ST26Q04', # Possessions - computer
               'ST26Q05', # Possessions - software
               'ST26Q06', # Possessions - Internet
               'ST26Q07', # Possessions - literature
               'ST26Q08', # Possessions - poetry
               'ST26Q09', # Possessions - art
               'ST26Q10', # Possessions - textbooks
               'ST26Q11', # Possessions - <technical reference books>
               'ST26Q12', # Possessions - dictionary
               'ST26Q13', # Possessions - dishwasher
               'ST26Q14', # Possessions - <DVD>
               'ST27Q01', # How many - cellular phones
               'ST27Q02', # How many - televisions
               'ST27Q03', # How many - computers
               'ST28Q01', # How many books at home
               'ST80Q01', # Cognitive Activation - Teacher Encourages to Reflect Problems
               'ST80Q04', # Cognitive Activation - Gives Problems that Require to Think
               'ST80Q05', # Cognitive Activation - Asks to Use Own Procedures
               'ST80Q06', # Cognitive Activation - Presents Problems with No Obvious Solutions
               'ST80Q07', # Cognitive Activation - Presents Problems in Different Contexts
               'ST80Q08', # Cognitive Activation - Helps Learn from Mistakes
               'ST80Q09', # Cognitive Activation - Asks for Explanations
               'ST80Q10', # Cognitive Activation - Apply What We Learned
               'ST80Q11', # Cognitive Activation - Problems with Multiple Solutions
               'ST81Q01', # Disciplinary Climate - Students Don’t Listen
               'ST81Q02', # Disciplinary Climate - Noise and Disorder
               'ST81Q03', # Disciplinary Climate - Teacher Has to Wait Until its Quiet
               'ST81Q04', # Disciplinary Climate - Students Don’t Work Well
               'ST81Q05', # Disciplinary Climate - Students Start Working Late
               'ST57Q01', # Out-of-School Study Time - Homework
               'ST57Q02', # Out-of-School Study Time - Guided Homework
               'ST57Q03', # Out-of-School Study Time - Personal Tutor
               'ST57Q04', # Out-of-School Study Time - Commercial Company
               'ST57Q05', # Out-of-School Study Time - With Parent
               'ST57Q06', # Out-of-School Study Time - Computer
               'OUTHOURS', # Out-of-School Study Time
               'ST88Q01', # Attitude towards School - Does Little to Prepare Me for Life
               'ST88Q02', # Attitude towards School - Waste of Time
               'ST88Q03', # Attitude towards School - Gave Me Confidence
               'ST88Q04', # Attitude towards School- Useful for Job
               'ST89Q02', # Attitude toward School - Helps to Get a Job
               'ST89Q03', # Attitude toward School - Prepare for College
               'ST89Q04', # Attitude toward School - Enjoy Good Grades
               'ST89Q05', # Attitude toward School - Trying Hard is Important
               'PV1MATH', # Plausible value 1 in mathematics
               'PV2MATH', # Plausible value 2 in mathematics
               'PV3MATH', # Plausible value 3 in mathematics
               'PV4MATH', # Plausible value 4 in mathematics
               'PV5MATH', # Plausible value 5 in mathematics
               'PV1READ', # Plausible value 1 in reading
               'PV2READ', # Plausible value 2 in reading
               'PV3READ', # Plausible value 3 in reading
               'PV4READ', # Plausible value 4 in reading
               'PV5READ', # Plausible value 5 in reading
               'PV1SCIE', # Plausible value 1 in science
               'PV2SCIE', # Plausible value 2 in science
               'PV3SCIE', # Plausible value 3 in science
               'PV4SCIE', # Plausible value 4 in science
               'PV5SCIE', # Plausible value 5 in science
              ]

**Subsetting the dataset and using the above mentioned columns to explore and explain why is it important of subjects like mathematics, science and reading.**

In [4]:
# subsetting the dataset
pisa_sub = pisa[cols_to_use]

In [5]:
# renaming columns
rename_cols = {'CNT': 'country',
               'ST03Q01': 'birth_month',
               'ST03Q02': 'birth_year',
               'ST04Q01': 'gender',
               'ST08Q01': 'late_for_school',
               'ST09Q01': 'skip_school',
               'ST115Q01': 'bunk_classes',
               'ST11Q01': 'mom_at_home',
               'ST11Q02': 'dad_at_home', 
               'ST11Q03': 'bro_at_home',
               'ST11Q04': 'sis_at_home',
               'ST11Q05': 'grandpars_at_home',
               'ST11Q06': 'others_at_home',
               'ST13Q01': 'mom_highest_schooling',
               'ST15Q01': 'mom_curr_job',
               'ST17Q01': 'dad_highest_schooling', 
               'ST19Q01': 'dad_curr_job',
               'ST86Q01': 'str_good_with_teachers',
               'ST86Q02': 'str_teachers_interested',
               'ST86Q03': 'str_teachers_listen_to_students',
               'ST86Q04': 'str_teachers_help_students',
               'ST86Q05': 'str_teachers_treat_students_fair',
               'ST26Q01': 'p1',
               'ST26Q02': 'p2',
               'ST26Q03': 'p3',
               'ST26Q04': 'p4',
               'ST26Q05': 'p5',
               'ST26Q06': 'p6',
               'ST26Q07': 'p7',
               'ST26Q08': 'p8',
               'ST26Q09': 'p9',
               'ST26Q10': 'p10',
               'ST26Q11': 'p11',
               'ST26Q12': 'p12',
               'ST26Q13': 'p13',
               'ST26Q14': 'p14',
               'ST27Q01': 'count_cellphones',
               'ST27Q02': 'count_tv',
               'ST27Q03': 'count_pc',
               'ST28Q01': 'book_count',
               'ST80Q01': 'ca_teacher_encourages_to_reflect_problems',
               'ST80Q04': 'ca_problems_that_require_thinking',
               'ST80Q05': 'ca_use_own_proc',
               'ST80Q06': 'ca_problems_with_nosol',
               'ST80Q07': 'ca_problem_with_diff_context',
               'ST80Q08': 'ca_learn_from_mistakes',
               'ST80Q09': 'ca_clarify',
               'ST80Q10': 'ca_apply_learned',
               'ST80Q11': 'ca_problems_with_multisol',
               'ST81Q01': 'dc_studs_never_listen',
               'ST81Q02': 'dc_noise_disorder',
               'ST81Q03': 'dc_decorum_to_restore',
               'ST81Q04': 'dc_studs_dont_work',
               'ST81Q05': 'dc_studs_work_late',
               'ST57Q01': 'study_hr_1',
               'ST57Q02': 'study_hr_2',
               'ST57Q03': 'study_hr_3',
               'ST57Q04': 'study_hr_4',
               'ST57Q05': 'study_hr_5',
               'ST57Q06': 'study_hr_6',
               'OUTHOURS': 'study_hr_7',
               'ST88Q01': 'school_prep_life',
               'ST88Q02': 'school_waste_of_time',
               'ST88Q03': 'school_builds_confidence',
               'ST88Q04': 'school_builds_for_jobs',
               'ST89Q02': 'school_gets_jobs',
               'ST89Q03': 'school_prep_college',
               'ST89Q04': 'school_for_grades_only',
               'ST89Q05': 'school_is_important',
}

In [6]:
# printing a sample of 10
pisa_sub.sample(10)

,CNT,ST03Q01,ST03Q02,ST04Q01,ST08Q01,ST09Q01,ST115Q01,ST11Q01,ST11Q02,ST11Q03,...,PV1READ,PV2READ,PV3READ,PV4READ,PV5READ,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE
17591,Argentina,4,1997,Female,One or two times,Three or four times,2.0,Yes,NaN,NaN,...,313.0416,304.3041,330.5164,260.6171,313.8359,356.9004,290.6938,301.8836,288.8288,331.7232
251760,Italy,10,1996,Female,NaN,NaN,NaN,NaN,NaN,NaN,...,332.8993,270.1488,286.0350,250.2911,317.0131,388.6050,340.1156,377.4151,320.5334,409.1197
65133,Brazil,4,1996,Male,One or two times,One or two times,1.0,Yes,Yes,Yes,...,249.5470,196.6187,318.5143,336.1571,232.7062,280.0634,202.6669,218.5192,298.7132,253.9537
59473,Brazil,3,1996,Female,None,None,1.0,Yes,Yes,Yes,...,556.6565,426.3896,444.6587,481.9913,464.5165,407.8142,402.2193,351.8650,398.4894,340.6751
118651,Colombia,2,1996,Female,None,None,2.0,Yes,Yes,Yes,...,379.8430,390.9634,380.6374,460.8627,414.7927,383.2898,418.7244,383.2898,389.8172,457.8888
264144,Italy,1,1996,Male,None,None,1.0,Yes,No,No,...,584.0383,562.3858,574.4150,598.4734,605.6909,656.2290,676.7438,657.1615,634.7818,648.7691
367597,Norway,4,1996,Female,One or two times,None,2.0,Yes,Yes,Yes,...,547.3630,547.3630,493.3500,515.5906,507.6475,432.1522,432.1522,365.9455,430.2872,420.9623
154918,Spain,4,1996,Male,None,None,1.0,Yes,Yes,Yes,...,546.6677,609.2194,489.7296,558.6969,557.8949,508.1499,479.2428,484.8377,502.5550,462.4580
448359,Chinese Taipei,4,1996,Female,None,None,1.0,Yes,Yes,Yes,...,606.9363,588.6672,597.4046,583.1070,552.9232,567.3629,536.5908,601.8650,578.5528,562.7005
367469,Norway,12,1996,Female,None,None,1.0,Yes,Yes,Yes,...,614.4028,569.9215,549.2694,581.0418,565.9499,567.6427,548.9929,570.4401,557.3853,549.9254

In [6]:
# renaming columns
pisa_sub = pisa_sub.rename(columns=rename_cols)

In [7]:
# computing average scores for the three subjects math, science and reading.
# no of possessions and total study hours

pisa_sub['math_avg'] = (pisa_sub['PV1MATH'] + pisa_sub['PV2MATH'] +
                        pisa_sub['PV3MATH'] + pisa_sub['PV4MATH'] +pisa_sub['PV5MATH'])/5

pisa_sub['read_avg'] = (pisa_sub['PV1READ'] + pisa_sub['PV2READ'] +
                        pisa_sub['PV3READ'] + pisa_sub['PV4READ'] +pisa_sub['PV5READ'])/5

pisa_sub['sci_avg'] = (pisa_sub['PV1SCIE'] + pisa_sub['PV2SCIE'] +
                        pisa_sub['PV3SCIE'] + pisa_sub['PV4SCIE'] +pisa_sub['PV5SCIE'])/5

pisa_sub['tot_possessions'] = (pisa_sub.iloc[:, 23:37] == 'Yes').sum(axis=1)

pisa_sub['study_hrs'] = (pisa_sub.iloc[:, 55:62]).sum(axis=1)

In [8]:
# inspecting all the numeric dtypes
pisa_sub.describe()

,birth_month,birth_year,bunk_classes,study_hr_1,study_hr_2,study_hr_3,study_hr_4,study_hr_5,study_hr_6,study_hr_7,...,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE,math_avg,read_avg,sci_avg,tot_possessions,study_hrs
count,485490.000000,485490.000000,479269.000000,301367.000000,269808.000000,283813.000000,279657.000000,289502.000000,289428.000000,308799.000000,...,485490.000000,485490.000000,485490.000000,485490.00000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000,485490.000000
mean,6.558512,1996.070061,1.265356,5.493770,1.623629,0.954044,0.911821,1.213363,1.583081,11.104100,...,475.769824,475.813674,475.851549,475.78524,475.820184,469.651234,472.006964,475.808094,8.994945,10.715419
std,3.705244,0.255250,0.578992,5.383815,2.591569,2.162574,2.362377,2.353292,2.760885,10.476669,...,101.464426,101.514649,101.495072,101.51220,101.566347,100.786610,98.863310,97.998470,2.852014,16.078604
min,1.000000,1996.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.648300,2.834800,11.879900,8.42970,17.754600,54.767080,6.445400,25.158540,0.000000,0.000000
25%,4.000000,1996.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,...,404.457300,404.457300,404.550500,404.45730,404.457300,396.019620,405.044200,405.762800,7.000000,0.000000
50%,7.000000,1996.000000,1.000000,4.000000,1.000000,0.000000,0.000000,0.000000,1.000000,8.000000,...,475.699400,475.606100,475.699400,475.97910,475.885900,465.734520,475.477980,475.512860,9.000000,5.000000
75%,9.000000,1996.000000,1.000000,7.000000,2.000000,1.000000,1.000000,2.000000,2.000000,14.000000,...,547.780700,547.873900,547.967200,547.78070,547.780700,540.123060,542.831195,546.381920,11.000000,15.000000
max,99.000000,1997.000000,4.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,180.000000,...,903.338300,900.540800,867.624000,926.55730,880.958600,903.107960,849.359740,857.832900,13.000000,330.000000

In [9]:
# removing month 99 as it is clearly an error
pisa_sub = pisa_sub[pisa_sub.birth_month != 99]

# testing if we did right
pisa_sub.describe()

,birth_month,birth_year,bunk_classes,study_hr_1,study_hr_2,study_hr_3,study_hr_4,study_hr_5,study_hr_6,study_hr_7,...,PV1SCIE,PV2SCIE,PV3SCIE,PV4SCIE,PV5SCIE,math_avg,read_avg,sci_avg,tot_possessions,study_hrs
count,485374.000000,485374.000000,479154.000000,301297.000000,269751.000000,283755.000000,279600.000000,289443.000000,289363.000000,308729.000000,...,485374.000000,485374.000000,485374.000000,485374.000000,485374.000000,485374.000000,485374.000000,485374.000000,485374.000000,485374.000000
mean,6.536419,1996.070078,1.265368,5.493984,1.623490,0.953893,0.911631,1.213268,1.582939,11.103716,...,475.782907,475.826193,475.864486,475.797329,475.832958,469.667107,472.021886,475.820775,8.995618,10.714948
std,3.418968,0.255279,0.579015,5.384092,2.591637,2.162367,2.362151,2.353363,2.760875,10.476857,...,101.467613,101.518340,101.498929,101.516099,101.569703,100.787857,98.865688,98.002102,2.851694,16.078466
min,1.000000,1996.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.648300,2.834800,11.879900,8.429700,17.754600,54.767080,6.445400,25.158540,0.000000,0.000000
25%,4.000000,1996.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,...,404.457300,404.457300,404.550500,404.457300,404.457300,396.019640,405.102080,405.856020,7.000000,0.000000
50%,7.000000,1996.000000,1.000000,4.000000,1.000000,0.000000,0.000000,0.000000,1.000000,8.000000,...,475.885900,475.606100,475.699400,475.979100,475.979100,465.734540,475.477980,475.512860,9.000000,5.000000
75%,9.000000,1996.000000,1.000000,7.000000,2.000000,1.000000,1.000000,2.000000,2.000000,14.000000,...,547.780700,547.873900,547.967200,547.780700,547.780700,540.123080,542.835480,546.381940,11.000000,15.000000
max,12.000000,1997.000000,4.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,180.000000,...,903.338300,900.540800,867.624000,926.557300,880.958600,903.107960,849.359740,857.832900,13.000000,330.000000

In [10]:
# removing columns that are not necessary
cols_to_remove = [x for x in pisa_sub.columns.tolist() if x.startswith('p') or x.startswith('study_hr_') or x.startswith('PV')]
pisa_sub.drop(axis = 1, columns = cols_to_remove, inplace = True)
pisa_sub.columns

Index(['country', 'birth_month', 'birth_year', 'gender', 'late_for_school',
       'skip_school', 'bunk_classes', 'mom_at_home', 'dad_at_home',
       'bro_at_home', 'sis_at_home', 'grandpars_at_home', 'others_at_home',
       'mom_highest_schooling', 'mom_curr_job', 'dad_highest_schooling',
       'dad_curr_job', 'str_good_with_teachers', 'str_teachers_interested',
       'str_teachers_listen_to_students', 'str_teachers_help_students',
       'str_teachers_treat_students_fair', 'count_cellphones', 'count_tv',
       'count_pc', 'book_count', 'ca_teacher_encourages_to_reflect_problems',
       'ca_problems_that_require_thinking', 'ca_use_own_proc',
       'ca_problems_with_nosol', 'ca_problem_with_diff_context',
       'ca_learn_from_mistakes', 'ca_clarify', 'ca_apply_learned',
       'ca_problems_with_multisol', 'dc_studs_never_listen',
       'dc_noise_disorder', 'dc_decorum_to_restore', 'dc_studs_dont_work',
       'dc_studs_work_late', 'school_prep_life', 'school_waste_of_time',
       'school_builds_confidence', 'school_builds_for_jobs',
       'school_gets_jobs', 'school_prep_college', 'school_for_grades_only',
       'school_is_important', 'math_avg', 'read_avg', 'sci_avg',
       'tot_possessions', 'study_hrs'],
      dtype='object')

In [11]:
# removing all missing values
pisa_sub.dropna(inplace = True)
pisa_sub.shape

(170341, 53)

In [12]:
# converting bunk_classes into int dtype
pisa_sub.bunk_classes.fillna(0)
pisa_sub['bunk_classes'] = pisa_sub['bunk_classes'].astype('int64')

In [13]:
# one final look at the structure of our cleaned dataset
pisa_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170341 entries, 6 to 485488
Data columns (total 53 columns):
country                                      170341 non-null object
birth_month                                  170341 non-null int64
birth_year                                   170341 non-null int64
gender                                       170341 non-null object
late_for_school                              170341 non-null object
skip_school                                  170341 non-null object
bunk_classes                                 170341 non-null int64
mom_at_home                                  170341 non-null object
dad_at_home                                  170341 non-null object
bro_at_home                                  170341 non-null object
sis_at_home                                  170341 non-null object
grandpars_at_home                            170341 non-null object
others_at_home                               170341 non-null object
mom_highest_schooling                        170341 non-null object
mom_curr_job                                 170341 non-null object
dad_highest_schooling                        170341 non-null object
dad_curr_job                                 170341 non-null object
str_good_with_teachers                       170341 non-null object
str_teachers_interested                      170341 non-null object
str_teachers_listen_to_students              170341 non-null object
str_teachers_help_students                   170341 non-null object
str_teachers_treat_students_fair             170341 non-null object
count_cellphones                             170341 non-null object
count_tv                                     170341 non-null object
count_pc                                     170341 non-null object
book_count                                   170341 non-null object
ca_teacher_encourages_to_reflect_problems    170341 non-null object
ca_problems_that_require_thinking            170341 non-null object
ca_use_own_proc                              170341 non-null object
ca_problems_with_nosol                       170341 non-null object
ca_problem_with_diff_context                 170341 non-null object
ca_learn_from_mistakes                       170341 non-null object
ca_clarify                                   170341 non-null object
ca_apply_learned                             170341 non-null object
ca_problems_with_multisol                    170341 non-null object
dc_studs_never_listen                        170341 non-null object
dc_noise_disorder                            170341 non-null object
dc_decorum_to_restore                        170341 non-null object
dc_studs_dont_work                           170341 non-null object
dc_studs_work_late                           170341 non-null object
school_prep_life                             170341 non-null object
school_waste_of_time                         170341 non-null object
school_builds_confidence                     170341 non-null object
school_builds_for_jobs                       170341 non-null object
school_gets_jobs                             170341 non-null object
school_prep_college                          170341 non-null object
school_for_grades_only                       170341 non-null object
school_is_important                          170341 non-null object
math_avg                                     170341 non-null float64
read_avg                                     170341 non-null float64
sci_avg                                      170341 non-null float64
tot_possessions                              170341 non-null int64
study_hrs                                    170341 non-null float64
dtypes: float64(4), int64(4), object(45)
memory usage: 70.2+ MB

In [14]:
# countries with names that need to changed
pisa_sub.country.unique()

array(['Albania', 'United Arab Emirates', 'Argentina', 'Australia',
       'Austria', 'Belgium', 'Bulgaria', 'Brazil', 'Canada',
       'Switzerland', 'Chile', 'Colombia', 'Costa Rica', 'Czech Republic',
       'Germany', 'Denmark', 'Spain', 'Estonia', 'Finland', 'France',
       'United Kingdom', 'Greece', 'Hong Kong-China', 'Croatia',
       'Hungary', 'Indonesia', 'Ireland', 'Iceland', 'Italy', 'Jordan',
       'Japan', 'Kazakhstan', 'Korea', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Latvia', 'Macao-China', 'Mexico', 'Montenegro',
       'Malaysia', 'Netherlands', 'Norway', 'New Zealand', 'Peru',
       'Poland', 'Portugal', 'Qatar', 'China-Shanghai',
       'Perm(Russian Federation)', 'Florida (USA)', 'Connecticut (USA)',
       'Massachusetts (USA)', 'Romania', 'Russian Federation',
       'Singapore', 'Serbia', 'Slovak Republic', 'Slovenia', 'Sweden',
       'Chinese Taipei', 'Thailand', 'Tunisia', 'Turkey', 'Uruguay',
       'United States of America', 'Vietnam'], dtype=object)

**We have few entries that are not recognized by Tableau, thus we are renaming them to say we have smooth transitionting**

In [15]:
# replacing the country values
pisa_sub.loc[pisa_sub['country'] == "Perm(Russian Federation)", ['country']] = "Russia"
pisa_sub.loc[pisa_sub['country'] == "Korea", ['country']] = "North Korea"
pisa_sub.loc[pisa_sub['country'] == "Florida (USA)", ['country']] = "United States of America"
pisa_sub.loc[pisa_sub['country'] == "Connecticut (USA)", ['country']] = "United States of America"
pisa_sub.loc[pisa_sub['country'] == "Massachusetts (USA)", ['country']] = "United States of America"
pisa_sub.loc[pisa_sub['country'] == "China-Shanghai", ['country']] = "China"
pisa_sub.loc[pisa_sub['country'] == "Macao-China", ['country']] = "China"
pisa_sub.loc[pisa_sub['country'] == "Hong Kong-China", ['country']] = "China"

**Saving the file and using it in creating the Tableau story**

In [16]:
# saving pisa_sub to csv
pisa_sub.to_csv('cleaned_pisa.csv', encoding = 'utf-8', index = False)